.grid-container {
    display: grid;
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(4, 100px);
    gap: 5px;
}

.grid-item1 {
    background: rgb(129, 232, 60);
    text-align: center;
    border: black 5px solid;
}

.grid-item2,
.grid-item3,
.grid-item4,
.grid-item5,
.grid-item6 {
    background: grey;
    text-align: center;
    border: black 5px solid;
}