/* div {
  width: 100px;
  height: 100px;
  background: red;
  transition-property: width, height;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s;
} */

div {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s linear 1s;  
}

div:hover {
  width: 600px;
  height: 600px;
}